html{
	background: #222;
}

::placeholder{
	color: #999;
}

input{
	color: #ddd;
}

nav{
	background: #222;
}

nav li, nav li button{
	color: #ddd;
}

#info, #info label{
	background: #ddd;
	color: #222;
}

#result{
	color: #ddd;
}