html{
	background: #222;
}

::placeholder{
	color: #999;
}

input{
	color: #ddd;
}

nav{
	background: #222;
	color: #ddd;
}

nav li, nav li button, nav div{
	color: #ddd;
}

#info, #info label{
	background: #ddd;
	color: #222;
}

#result{
	color: #ddd;
}

.menu a{
	color: #ddd;
}

#pop-up{
	background: #ddd;
	color: #222;
}

#loading{
	background: #222;
}

#img_con h3{
	color: #ddd;
}